.card-background {
    background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.95), 
      rgba(255, 255, 255, 0.95)
    ), url('E:\EngiConnect\engiconnect\src\main\resources\static\img\background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  